<div class="container">
	<footer class ="footer">
		<small>
		Copyright &copy; <a href="https://rubyonrails.org">Complete Ruby On Raill Tutorial</a>

		</small>
		<nav>
			<ul>
				<li><a href="#">About</a></li>
			</ul>
		</nav>
	</footer>
</div>